/* footer.css */

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');

.image-attribution {
	display : none;
}

#ESFooterByNMK {
	width: 100%;
}

div.ESFContentBlock {
	color: #202125; 
	font-family: 'Maven Pro', sans-serif ; 
	font-size: 14px ; 
	background: #1d212b; 
	padding: 15px 0; 
	width : 100%;
	display : block;
	box-sizing : border-box;
	border: 0;
}  

div.ESFContentBlock .logo-desc {
	width: 220px;
} 

div.ESFContentBlock .logo-desc .logo {
	width: 100% ; 
	text-align: center
} 

div.ESFContentBlock .logo-desc .logo img {
	width: 60px ; 
	border: 0 ; 
	opacity: 1 ;
}

div.ESFContentBlock .logo-desc .desc {
	width: 100% ; 
	text-align: center ; 
	color: #6d7382 ; 
	font-size: 0.85em ; 
	padding: 0 10px ; 
	box-sizing: border-box; 
	border: 0;
}

div.ESFContentBlock .logo-desc, div.ESFContentBlock .menu, div.ESFContentBlock .ContactUS {
	display: inline-block;
	vertical-align: top ; 
	box-sizing: border-box;
	border: 0;
} 

div.ESFContentBlock .menu, div.ESFContentBlock .ContactUS {
	border: 0;
	box-sizing: border-box; 
	width: calc((100% - 230px) / 2); 
} 

/* MENU */ 

div.ESFContentBlock .menu {
	
} 

div.ESFContentBlock .menu .MBlk-Title {
	width: 100%; 
} 

div.ESFContentBlock .menu .MBlk-Title .tstr {
	display: inline-block;
	width: 100%; 
	color: #afb803 ;
	box-sizing: border-box ; 
	padding: 5px 10px; 
	font-family: 'Maven Pro', sans-serif ; 
	font-weight: bold;
	font-size: 1.2em ; 
	text-align: left;
} 

div.ESFContentBlock .menu ul.MBlk-Links { 
	list-style-type : none ; 
	width: 100%; 
	color: #afb803 ;
	box-sizing: border-box ; 
	padding: 0 10px; 
	font-family: 'Maven Pro', sans-serif ; 
	font-size: 1.2em ; 
	margin: 0; 
	text-align: left ;
} 

div.ESFContentBlock .menu ul.MBlk-Links li { 
	display: block; 
	border: 0; 
	box-sizing: border-box ; 
	margin: 0; 
	padding: 0;
} 

div.ESFContentBlock .menu ul.MBlk-Links li a {
	display: inline-block; 
	border: 0; 
	box-sizing: border-box ; 
	margin: 0; 
	padding: 4px 0; 
	color: #6d7382;
}

div.ESFContentBlock .menu a:hover { 
	text-decoration: underline ; 
	color: #afb803 !important;
} 

div.ESFContentBlock .menu ul.MBlk-Links li a:visited {
	color: #6d7382  ;
}

/* CONTACT*/ 

div.ESFContentBlock .ContactUS {
	
} 

div.ESFContentBlock .ContactUS div.MBlk-Title {
	width: 100%; 
} 

div.ESFContentBlock .ContactUS div.MBlk-Title .tstr {
	display: inline-block;
	width: 100%; 
	color: #afb803 ;
	box-sizing: border-box ; 
	padding: 5px 10px; 
	font-family: 'Maven Pro', sans-serif ; 
	font-weight: bold;
	font-size: 1.2em ; 
	text-align: left ;
} 

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk {
	list-style-type : none ; 
	width: 100%; 
	color: #afb803 ;
	box-sizing: border-box ; 
	padding: 0 10px; 
	font-family: 'Maven Pro', sans-serif ; 
	font-size: 1.2em ; 
	margin: 0; 
	text-align: left ;
} 

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk li.lbk-item {
	display: block; 
	border: 0; 
	box-sizing: border-box ; 
	margin: 0; 
	padding: 2px 0; 
	color: #6d7382;
} 

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk span.tel-blk span.tel-str {
	display: block;
} 

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk span.tel-blk span.tel-str:before {
	content: '\ec7d';
	font-family: ocis-icon-fonts ; 
	color: #afb803 ; 
	margin: 0 5px 0 0;
}

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk li.email span.tel-blk span { 
	box-sizing: border-box ; 
	font-family: 'Maven Pro', sans-serif ; 
	border: 0; 
	padding: 2px 0;
}

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk span.tel-item, 
div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk span.mail-item {
	display: block; 
	width: 100%;
}

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk li.email span.tel-blk span.email-str:before {
	content: '\e8c8';
	font-family: ocis-icon-fonts ; 
	color: #afb803 ; 
	margin: 0 5px 0 0;
} 

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk li.email a,
div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk li.tel a {
	display: inline-block; 
	box-sizing: border-box ; 
	font-family: 'Maven Pro', sans-serif ; 
	border: 0; 
	padding: 0;
	font-size: 0.9em ; 
	color: #a6a7a9 ; 
} 

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk li.email a:hover,
div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk li.tel a:hover {
	color: #afb803 !important;
}

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk li.rs-items {
	width: 100%;
	border: 0;
	box-sizing: border-box;
	padding: 5px 0;
	display: block;
	height: 35px;
}

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk span.rs-item {
	display: inline-block;
	width: 25px;
	height: 100%; 
	border-radius: 50% ; 
	padding: 0 ;
}

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk span.rs-item a {
	display: inline-block;
	width: 25px;
	height: 100%;
	text-align: center;
	border: 0;
	margin: 0 5px; 
	position: relative ;
	left: 0; 
} 

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk span.rs-item a:before {
	font-family: ocis-icon-fonts ; 
	color: #afb803 ; 
	margin: 0 5px 0 0; 
	font-size: 1.4em ; 
	color: #a6a7a9 ; 
} 

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk span.rs-item a.linkedin:before {
	content: '\f0e1'; 
}

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk span.rs-item a.telegram:before {
	content: '\f2c6';
}

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk span.rs-item a.whatsapp:before {
	content: '\f232';
}

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk span.rs-item a.facebook:before {
	content: '\ebd2';
} 


div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk span.rs-item a.twitter:before {
	content: '\f099'; 
}

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk span.rs-item a:hover:before {
	color: #afb803 ; 
}

div.ESFContentBlock .ContactUS ul.C-US-ItemsBlk span.rs-item img {
	width: 100%; 
	height: 100%;
	position: relative; 
	top: 0;
	border: 0; 
	display: none ;
} 

/* RESPONSIVE */ 

@media only screen and (max-width: 720px) {
	div.ESFContentBlock .logo-desc {
		width: 100% ; 
	} 
	div.ESFContentBlock .logo-desc .logo img {
		width: 100px
	}
	div.ESFContentBlock .logo-desc .desc {
		width: 100% ; 
		padding: 0;
	}
	div.ESFContentBlock .logo-desc .desc .txt {
		display: inline-block ; 
		margin: 0 ;
		padding: 0 8px ;
		font-size: 1.1em !important;
	}
	
	div.ESFContentBlock .menu, div.ESFContentBlock .ContactUS {
		border: 0;
		box-sizing: border-box; 
		width: 100%; 
		display: block;
	} 
	
	div.ESFContentBlock .ContactUS div.MBlk-Title .tstr {
		text-align: center ;
	}
	
	div.ESFContentBlock .menu span.tstr {
		text-align: center !important;
	}
	
	div.ESFContentBlock .menu li {
		text-align: center;
	}
	
	div.ESFContentBlock .ContactUS li {
		text-align: center
	}
}
